.my_photo{

  width: 400px;
  height: 400px;
  
  border-radius: 9999px;
  filter: drop-shadow(0 0 2em #000000aa);

  
}

.Hero{
    /* background: radial-gradient(
    ellipse at 50% 50%,
    #646cff 0%,
    #747bff 30%,
    #1a1a1a 60%
    ); */
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;

    width: 100vw
}