.skillframe{
    position: relative;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.divider{
    width: 80%;
    height: 30px;

    /* border-top: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); */
}

.frameworks-container{
    -webkit-mask-image: linear-gradient(90deg, transparent 0%, #ffffff 300px, #ffffff calc(100vw - 300px), transparent 100%);
    mask-image: linear-gradient(90deg, transparent 0%, #ffffff 300px, #ffffff calc(100vw - 300px), transparent 100%);
    position: relative; 
    width: 100%;
    background-color: #26262626;
    position: relative;
    margin-top: -20px;
    overflow: hidden;
        display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.frameworks-container::before{
    content: "";
    display: block;
    width: 100%;
    height: 80px;
    background: linear-gradient(0deg, #17171700, #101010b3, #101010);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    pointer-events: none;
    
}

.frameworks-container::after{
    content: "";
    display: block;
    width: 100%;
    height: 80px;
    background: linear-gradient(rgba(23, 23, 23, 0), rgba(16, 16, 16, 0.7), rgb(16, 16, 16));
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
    pointer-events: none;
    
}

.framework-row{
    transform:translate3d(var(--row-offset), 0, 0);
    display: grid;
    grid-auto-columns: 96px;
    grid-gap: 24px;
    justify-content: flex-start;
    margin-bottom: 24px;
    position: relative;
    white-space: nowrap;
    grid-auto-flow: column;
    z-index: 1;


}

.framework-row:nth-child(2n) {
    --row-offset: 36px;
}

.framework_card{
    width: 96px;
    height: 96px;
    border-radius: 12px;
    border: 1px solid rgba(38, 38, 38, .7);
    background: #181818;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px;
    --glow-color: rgba(0, 0, 0, 0);
    opacity: 0;
    transition: opacity .4s ease;
    -webkit-user-select: none;
    user-select: none;
    z-index: 100;
}



.framework_card.active{
    opacity: 1;
}


.framework-header{

    font-size: 1.8rem;
    --text-color: #404040;
    background: radial-gradient(circle 300px at 30% -180%, var(--text-color) 0%, #ffffff 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 0 0 4px rgba(255, 255, 255, .1), 0 0 14px rgba(130, 168, 236, .2);
}



.framework_card img{
    border-radius: 20%;
}